Pitstop/CLI/Temp/
Scripting/Working/
Temp/HOLD_1/
Temp/HOLD_2/
Temp/HOLD_TCS/
Temp/Jobs/
Temp/OUT/
Temp/PACKs/
Temp/To Hold For Get Link/
Hotfolders/Outgoing/AsystemJsonImport/
Hotfolders/Incoming/
Tools/jobticket/Temp/
Log/
