<?xml version="1.0" encoding="UTF-8"?>
<root>
    <data>
        <email host="smtp.yandex.ru" timeout="5000">
            <adress mail="robot@fineart-print.ru" display="Поддержка FineArtPrint"/>
            <credentials login="robot@fineart-print.ru" password="gdliyrasiytsqmjm"/>
        </email>
    </data>
    <yandex auth="y0_AgAEA7qkZbKiAAnuBgAAAAEIIhBdAADz9OzomQBLrbm5cZrLN78BeV8VyA" parallel="1" timeout="60">
        <sync>
            <!-- log: 0 - без лога; 1 - только ошибки; 2 - все события -->
            <!-- namefilter: шаблон регулярного выражения для имени файла -->
            <!-- removesource: 0 - не удалять; 1 - переместить в корзину; 2 - полное удаление -->
            <item id="Рыдкин 170_330х482_4+0" filter="\.pdf$" subfolder="false" refresh="600" removesource="1" log="2" overwiteexists="true" enabled="false">
                <source>disk:/rydkin/170_330х482_4+0</source>
				<dest>D:\__SWITCH\_Incoming\yandex\ryd\170_330х482_4+0</dest>
            </item>	 
            <item id="Рыдкин 250_330х482_4+0" filter="\.pdf$" subfolder="false" refresh="600" removesource="1" log="2" overwiteexists="true" enabled="false">
                <source>disk:/rydkin/250_330х482_4+0</source>
				<dest>D:\__SWITCH\_Incoming\yandex\ryd\250_330х482_4+0</dest>
            </item>
            <item id="Рыдкин 170_330х700_4+0" filter="\.pdf$" subfolder="false" refresh="600" removesource="1" log="2" overwiteexists="true" enabled="false">
                <source>disk:/rydkin/170_330х700_4+0</source>
				<dest>D:\__SWITCH\_Incoming\yandex\ryd\170_330х700_4+0</dest>
            </item>	
                <item id="Рыдкин 250_330х700_4+0" filter="\.pdf$" subfolder="false" refresh="600" removesource="1" log="2" overwiteexists="true" enabled="false">
                <source>disk:/rydkin/250_330х700_4+0</source>
				<dest>D:\__SWITCH\_Incoming\yandex\ryd\250_330х700_4+0</dest>
            </item>	  
        </sync>
		<temp>D:\__SWITCH\Temp\84746xx</temp>
    </yandex>
    <woci auth="y0_AgAEA7qkZbKiAAnuBgAAAAEIIhBdAADz9OzomQBLrbm5cZrLN78BeV8VyA" parallel="3" timeout="60">
        <sync>
            <!-- log: 0 - без лога; 1 - только ошибки; 2 - все события -->
            <!-- namefilter: шаблон регулярного выражения для имени файла -->
            <!-- removesource: 0 - не удалять; 1 - переместить в корзину; 2 - полное удаление -->
            <item id="WOCI" filter="\.jpe?g$" subfolder="true" refresh="60" removesource="1" log="2" overwiteexists="true" enabled="false">
                <source>disk:/ПЕЧАТЬ Моифотостраницы</source>
			<dest>D:\__SWITCH\_Incoming\woci</dest>
            </item>
        </sync>
		<temp>D:\__SWITCH\Temp\woci92567</temp>
    </woci>  
    <!-- logmode: автоматически обновляется список актуальных продуктов -->
    <!-- timeout: максимальное время ожидания ответа при запросе к удаленному серверу -->
    <periodica auth="Bearer 05d75abe756bd9622d8f45968812daa0812d5455bf5d5868c3af182125ef6996" parallel="1" timeout="30" logmode="true">
        <sync>
            <item id="PRD" filter="ready" refresh="900" log="2" overwiteexists="true" enabled="false">
                <source>https://api.periodica.press/api/printshops/fine-art</source>
				<dest>D:\__SWITCH\_Incoming\prd</dest>
            </item>
        </sync>
		<temp>D:\__SWITCH\Temp\i7p9uhk0</temp>
		<error>D:\__SWITCH\Karantin\prd</error>
        <msg>
            <item>g.karpuhov@fineart-print.ru</item>
        </msg>
        <products>
        </products>
    </periodica>
    <fastprint auth="(a1J-jyBjl" parallel="1" timeout="30">
	    <sync>
		    <item id="FSP" filter="ready" refresh="300" log="2" overwiteexists="true" enabled="true">
			    <source>http://korp.fastprint.info/digitalapi</source>
			    <dest>D:\__SWITCH\Flows\SI2\Hotfolders\Incoming\FSP</dest>
		    </item>
	    </sync>
	    <temp>D:\__SWITCH\Temp\fsp91h50</temp>
	    <error>D:\__SWITCH\Karantin\fsp</error>
	    <msg>
		    <item>g.karpuhov@fineart-print.ru</item>
	    </msg>
    </fastprint>
    <vru auth="y0__wgBELzGluIHGL_RNCChx-OLEgv2xG7icY_Ea0tUsMk9voeW72th" parallel="4" timeout="300">
        <sync>
            <!-- log: 0 - без лога; 1 - только ошибки; 2 - все события -->
            <!-- namefilter: шаблон регулярного выражения для имени файла -->
            <!-- removesource: 0 - не удалять; 1 - переместить в корзину; 2 - полное удаление -->
            <item id="VRU" filter="\.jpe?g$" subfolder="true" refresh="600" jobtime="9:00-21:17" removesource="1" log="2" overwiteexists="true" enabled="false">
				<pathtemplate>[ORDERID]\[GROUPID]\[PERSONE]\[ANY]\[FORMAT]\[FILE]</pathtemplate>
                <source>disk:/VruOrdersToPress</source>
			    <dest>D:\__SWITCH\Flows\SI2\Hotfolders\Incoming\VRU</dest>
            </item>
        </sync>
		<temp>D:\__SWITCH\Temp\vru46h409</temp>
		<resources>D:\__SWITCH\Flows\SI2\Temp\vru</resources>		
	    <msg>
		    <item>g.karpuhov@fineart-print.ru</item>
	    </msg>		
    </vru>  	
    <yacombine parallel="2" timeout="300">
        <sync>
            <!-- log: 0 - без лога; 1 - только ошибки; 2 - все события -->
            <!-- namefilter: шаблон регулярного выражения для имени файла -->
            <!-- removesource: 0 - не удалять; 1 - переместить в корзину; 2 - полное удаление -->
            <!-- layoutmode: 0 бит - чередовать горизонтальные и вертикальные; 1 бит - вставка по меньшей стороне; ... -->		
			<!-- Для предопределенных файлов тип позиционирования внутри страницы можно переопределить с помощью аттрибута 'shortfit' -->					
            <!-- static: Список предопределенных имен файлов, которые необходимо поставить на нужную полосу; допускается использвать ["first", "last", integer] -->					
            <item id="ASK" auth="y0__wgBEP2IjeIHGITMNCDfqsuKEqM88ng6-YBX9gxjUZrMcniyh1W9" filter="\.jpe?g$" subfolder="true" refresh="600" jobtime="9:55-14:28" removesource="0" log="2" overwiteexists="true" enabled="false">
				<pathtemplate>[PRODUCTID]\[ORDERID]\[FILE]</pathtemplate>                
				<source>disk:/DvaKota_ToPress</source>
			    <dest>D:\__SWITCH\Flows\SI2\Hotfolders\Incoming\ASK</dest>
				<colorcorrection>false</colorcorrection>
				<bleed>-1</bleed>
				<removelevel>1</removelevel>
				<layoutmode>2</layoutmode>
				<static>
				</static>
            </item>
            <item id="VRU" auth="y0__wgBELzGluIHGL_RNCChx-OLEgv2xG7icY_Ea0tUsMk9voeW72th" filter="\.jpe?g$" subfolder="true" refresh="600" jobtime="7:55-21:17" removesource="1" log="2" overwiteexists="true" enabled="false">
				<pathtemplate>[PRODUCTID]\[ORDERID]\[GROUPID]\[PERSONE]\[FILE]</pathtemplate>                
				<source>disk:/VruInput</source>
			    <dest>D:\__SWITCH\Flows\SI2\Hotfolders\Incoming\VRU</dest>
				<colorcorrection>true</colorcorrection>
				<bleed>3</bleed>
				<removelevel>1</removelevel>
				<layoutmode>1</layoutmode>
				<static>
					<item index='last' spread='true' shortfit='false' >^end_</item>
				</static>
            </item>			
        </sync>
		<temp>D:\__SWITCH\Temp\ask457848</temp>
		<resources></resources>		
	    <msg>
		    <item>g.karpuhov@fineart-print.ru</item>
	    </msg>		
    </yacombine> 	
</root>